@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  padding-top: 30px;
  background: -webkit-linear-gradient(#eee, #3899c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  margin: auto;
  width: 50%;
  border: 1px solid white;
  margin-top: 40px;
}

div {
  height: 20vh;
}

#fahrenheit {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

input[type='number'] {
  width: 100%;
  height: 100%;
  font-family: Asap, sans-serif;
  background: #3899c9;
  color: white;
  font-size: 3em;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #79ccfc;
  font-size: 0.8em;
}
